<div class="col-lg-4 mb-30">
                        <div class="modal-content bg7-color rounded-20 p-3 p-sm-4 p-md-6">
                            <div class="">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <h4 class="">tata 45</h4>
                                                                    </div>
                                <ul class="list-group">

                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span><i class="las la-user base--color"></i> Username</span> <span class="fw-bold">tata45</span>
                                    </li>

                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span><i class="las la-envelope base--color"></i> Email</span> <span class="fw-bold">tata45@gmail.com</span>
                                    </li>

                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span><i class="las la-phone base--color"></i> Mobile</span> <span class="fw-bold">920366555666</span>
                                    </li>

                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span><i class="las la-globe base--color"></i> Country</span> <span class="fw-bold">Pakistan</span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>



                      <div class="col-lg-4 mb-30">
                        <div class="modal-content bg7-color rounded-20 p-3 p-sm-4 p-md-6">
                            <div class="">
                                <div class="d-flex align-items-center justify-content-between mb-2">
                                    <h4 class="">tata 45</h4>
                                                                    </div>
                                <ul class="list-group">

                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span><i class="las la-user base--color"></i> Username</span> <span class="fw-bold">tata45</span>
                                    </li>

                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span><i class="las la-envelope base--color"></i> Email</span> <span class="fw-bold">tata45@gmail.com</span>
                                    </li>

                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span><i class="las la-phone base--color"></i> Mobile</span> <span class="fw-bold">920366555666</span>
                                    </li>

                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        <span><i class="las la-globe base--color"></i> Country</span> <span class="fw-bold">Pakistan</span>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>